@font-face {
    font-family: 'Alien Encounters Italic';
    src: url('fonts/AlienEncountersSolidBoldItalic.eot');
    src: url('fonts/AlienEncountersSolidBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/AlienEncountersSolidBoldItalic.woff') format('woff'),
    url('fonts/AlienEncountersSolidBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Alien Encounters';
    src: url('fonts/AlienEncountersBold.eot');
    src: local('Alien Encounters Bold'), local('AlienEncountersBold'),
    url('fonts/AlienEncountersBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/AlienEncountersBold.woff') format('woff'),
    url('fonts/AlienEncountersBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alien Encounters';
    src: url('fonts/AlienEncountersItalic.eot');
    src: local('fonts/Alien Encounters Italic'), local('AlienEncountersItalic'),
    url('fonts/AlienEncountersItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/AlienEncountersItalic.woff') format('woff'),
    url('fonts/AlienEncountersItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Alien Encounters';
    src: url('fonts/AlienEncounters.eot');
    src: local('fonts/Alien Encounters'), local('AlienEncounters'),
    url('fonts/AlienEncounters.eot?#iefix') format('embedded-opentype'),
    url('fonts/AlienEncounters.woff') format('woff'),
    url('fonts/AlienEncounters.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alien Encounters';
    src: url('fonts/AlienEncountersBoldItalic.eot');
    src: local('fonts/Alien Encounters Bold Italic'), local('AlienEncountersBoldItalic'),
    url('fonts/AlienEncountersBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/AlienEncountersBoldItalic.woff') format('woff'),
    url('fonts/AlienEncountersBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Alien Encounters Solid';
    src: url('fonts/AlienEncountersSolid.eot');
    src: local('Alien Encounters Solid'), local('AlienEncountersSolid'),
    url('fonts/AlienEncountersSolid.eot?#iefix') format('embedded-opentype'),
    url('fonts/AlienEncountersSolid.woff') format('woff'),
    url('fonts/AlienEncountersSolid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alien Encounters';
    src: url('fonts/AlienEncountersSolidBold.eot');
    src: local('Alien Encounters Solid Bold'), local('AlienEncountersSolidBold'),
    url('fonts/AlienEncountersSolidBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/AlienEncountersSolidBold.woff') format('woff'),
    url('fonts/AlienEncountersSolidBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alien Encounters Solid';
    src: url('fonts/AlienEncountersSolidItalic.eot');
    src: local('Alien Encounters Solid Italic'), local('AlienEncountersSolidItalic'),
    url('fonts/AlienEncountersSolidItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/AlienEncountersSolidItalic.woff') format('woff'),
    url('fonts/AlienEncountersSolidItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Acrom Light';
    src: url('fonts/Acrom-Light.eot');
    src: url('fonts/Acrom-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Acrom-Light.woff') format('woff'),
    url('fonts/Acrom-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acrom Bold';
    src: url('fonts/Acrom-Bold.eot');
    src: url('fonts/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Acrom-Bold.woff') format('woff'),
    url('fonts/Acrom-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}