.no-margin {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.body {
/ / background-color: #497082;
    background-color: #ffffff;
    margin: 0 auto;
}

.header {
    display: block;
    width: 100%;
    height: 55px;
    background-color: #3f3f3f; /*525252*/
    color: #ffffff;
}

.header-container {
    width: 780px;

    display: block;
    margin: 0 auto;
}

.header__icon{
    padding: 5px;
    font-size: 38px;
    line-height: 55px;
    float: left;
    color: #00c5e0;

}

.header-title {
    display: block;
    text-align: center;
    line-height: 55px;
    text-transform: uppercase;
    font-family: 'Alien Encounters', sans-serif;
    letter-spacing: 4px;
    font-style: italic;
}

.about-container {
    margin: 0 auto;
    width: 780px;
    padding: 30px 0;
    display: block;
    color: #FFFFFF;

}

.about-content {
    margin: 0 auto;
    width: 90%;
    display: block;
    background-color: #3f3f3f;
}

.about-top {
    border-bottom: 1px dotted #DDDDDD;
    height: 30px;

}

.about-title {
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
}

.about-bot {
    padding: 10px 15px;
    font-family: 'Acrom Light', sans-serif;

}
.about-text{
    text-align:  center;

}

.bus-slider-container {
    width: 100%;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}

.bus-slider-content {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.bus-slider__img {
}

.bus-slider__img-current {
    width: 460px;
    float: left;
    left: 50%;
    top: 50%;
}

.map-container {
    width: 780px;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}

.map-form {
    height: 100%;
}

.map-content {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    border: 2px solid #8cc63e;
}

.map-block__settings {
    width: 100%;
    height: 100%;
}

.bus__input-cover {
    width: 50%;
    float: left;
}

.bus__input {
    height: 40px;
    padding-left: 10px;
    margin: 55px 17% 0;
    border: 1px solid black;
    float: left;
    width: 60%;
    font-family: 'Acrom Light', sans-serif;

}

.bus__input_left {
    float: left;
}

.bus__input_right {
    float: right;
}

.map__button {
    font-family: 'Acrom Light', sans-serif;

    position: absolute;
    width: 75px;
    height: 75px;
    left: 9%;
    top: 445px;
    outline: none;
    background: #8cc63e;
    border-radius: 61px;
    border-width: 0;
}

.footer-container{
    font-family: 'Acrom Light', sans-serif;

    height: 45px;
    color: #ffffff;
    background-color: #3f3f3f;
}
.footer-content{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
}