@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s0tp7x');
  src:  url('fonts/icomoon.eot?s0tp7x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s0tp7x') format('truetype'),
    url('fonts/icomoon.woff?s0tp7x') format('woff'),
    url('fonts/icomoon.svg?s0tp7x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-steering-wheel:before {
  content: "\e901";
}
.icon-bus:before {
  content: "\e900";
}
